<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1025220230606-mkg321id0h545ch4c2as7eidub85ur02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1025220230606-mkg321id0h545ch4c2as7eidub85ur02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1025220230606-19gcki7hkhobpo98cameiph8oum91bhk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGrev9ICK_7C422N43odxFUl08cyGjyr4</string>
	<key>GCM_SENDER_ID</key>
	<string>1025220230606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayuDoctor</string>
	<key>PROJECT_ID</key>
	<string>ayu-app-96e7a</string>
	<key>STORAGE_BUCKET</key>
	<string>ayu-app-96e7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025220230606:ios:cf472941e3d446e0743f9f</string>
</dict>
</plist>